td.column-title strong,
.row-actions {
	float: left;
	display: inline-block;
}

.row-actions {
	margin-left: 15px;
}

.fixed .column-author {
	width: 12%;
}

.column-response .post-com-count,
.column-comments .post-com-count {
	float: left;
	margin-top: 0;
}

.column-response .comment-count-no-comments,
.column-response .comment-count-approved,
.column-comments .comment-count-no-comments,
.column-comments .comment-count-approved {
	display: inline-block;
	font-size: 10px;
	min-width: auto;
}

.cvm-tax-count {
	display: inline-block;
	background-color: #72777c;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 20px;
	min-width: 20px;
	min-height: 20px;
	border-radius: 20px;
}

.cvm-tax-count:hover,
.cvm-tax-count:focus {
	background-color: #0073aa;
	color: #fff;
}
